<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
	<div fxFlex="90">
		<div class="presentation-zone" fxFlex="100">
			<h1 class="color-primary">
				Bati Service 94
			</h1>
			<h2 fxShow="true" fxShow.lt-md="false">
				Entreprise générale de bâtiment
			</h2>
			<h2 fxShow="false" fxShow.lt-md="true">
				Entreprise générale<br>de bâtiment
			</h2>
			<h3 fxShow="true" fxShow.lt-md="false">
				Rénovation appartements et pavillons en Ile de France
			</h3>
			<h3 fxShow="false" fxShow.lt-md="true">
				Rénovation d'appartements et <br>de pavillons en Ile de France
			</h3>
			<section fxLayout="row" fxLayoutAlign="space-around center">
				<div>
					<div fxLayout="column">
						<div class="presentation" ngClass.lt-md="presentation-lt-md">
							<div class="item" fxLayout="row">
								<i class="fa fa-arrow-right  color-primary em-1-5"></i>
								 Bati Service 94 est une entreprise spécialisée dans les travaux de rénovation d'appartement ou de pavillon en Ile de France.
							</div>
							<div class="item" fxLayout="row">
								<i class="fa fa-arrow-right color-primary em-1-5"></i>
								Notre équipe de spécialistes vous accompagne sur tous vos projets de rénovation en respectant vos contraintes et votre budget.
							</div>
							<div class="item" fxLayout="row">
								<i class="fa fa-arrow-right color-primary em-1-5"></i>
								Nous vous apportons tout le conseil nécessaire et mettons notre expérience à votre service pour optimiser au mieux votre projet de rénovation.
							</div>
						</div>
						
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
	<div fxFlex="85">
	<section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
		<section class="competences" ngClass.lt-md="competences-lt-md" fxLayout="column" fxLayoutAlign="space-around center" >
			<div  class="circle electricite" fxLayoutAlign="space-around top" ngClass.lt-md="circle-lt-md">
			</div>
			<h4 class="color-primary" fxFlex="60%" >Electricité générale</h4>
			<div class="description" ngClass.lt-md="description-lt-md">
				La rénovation électrique est une étape clé lors de la rénovation d'un intérieur. Faites confiance à nos équipes d'électriciens spécialisés.
			</div>
			<button mat-button background-primary>Plus d'infos</button>
		</section>
		<a class="competences" ngClass.lt-md="competences-lt-md" fxLayout="column" fxLayoutAlign="space-around center" >
			<div  class="circle plomberie" fxLayoutAlign="space-around top" ngClass.lt-md="circle-lt-md">
			</div>
			<h4 class="color-primary" fxFlex="60%" >Plomberie / Chauffage</h4>
			<div class="description" ngClass.lt-md="description-lt-md">
				Notre équipe intervient dans tous vos travaux de rénovation d'intérieur pour vos installations de plomberie, sanitaires... Faites nous confiance !
			</div>
			<button mat-button background-primary>Plus d'infos</button>
		</a>
		<a class="competences" ngClass.lt-md="competences-lt-md" fxLayout="column" fxLayoutAlign="space-around center" >
			<div  class="circle maconnerie" fxLayoutAlign="space-around top" ngClass.lt-md="circle-lt-md">
			</div>
			<h4 class="color-primary" fxFlex="60%" >Maconnerie</h4>
			<div class="description" ngClass.lt-md="description-lt-md">
				Bati Service 94 réalise tous les travaux de rénovation ou de modification intérieure et extérieure en maçonnerie et carrelage.
			</div>
			<button mat-button background-primary>Plus d'infos</button>
		</a>
		<a class="competences" ngClass.lt-md="competences-lt-md" fxLayout="column" fxLayoutAlign="space-around center" >
			<div  class="circle peinture" fxLayoutAlign="space-around top" ngClass.lt-md="circle-lt-md">
			</div>
			<h4 class="color-primary" fxFlex="60%" >Peinture / Ravalement </h4>
			<div class="description" ngClass.lt-md="description-lt-md">
				Pour vos travaux de peinture et de finition, notre entreprise de rénovation saura parfaire la décoration de votre intérieur.
			</div>
			<button mat-button background-primary>Plus d'infos</button>
		</a>
	</section>
	</div>
</section>








