
footer {
	background-color: #e0e0e0;
	margin-right: 0;
	padding-right: 0;
}
.sitemap {
	height: 200px;
}

.toolbar {
	font-family: Raleway;
    font-size: 10px;
	background-color: #404040;
	padding-top: 12px;
    height: 30px;
    color: #fff;
}